<div id="footer">
	<div class="container">
		<div class="row centered">
			<div class="col-xs-12">
				<h6>PepNet</h6>
				<p>WE ARE EXPLORERS. EXPLORERATION ARE OUR SUBJECTS.</p>
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</div>
<!-- r wrap -->

<!--[if (gte IE 9)|!(IE)]><!-->
<%# <script src="/js/jquery2.min.js">
	</script> %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!--<![endif]-->
	<!--[if lte IE 8 ]>
		<script src="/js/jquery-1.12.2.min.js"></script>
	<!--<![endif]-->

	<%# <script src="/js/bootstrap.min.js">
		</script> %>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.min.js"
			integrity="sha512-GG/1z6B4MVJdQOw35lE4otrbjd2WYV+zhXgjUR+DTeaAc7s/ijgWsexEScSOIo8J4RlhC28CVerDjYQSH89ekQ=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<!--[if lt IE 8]>
		<script src="/js/icon-font-ie7.js"></script>
	<![endif]-->
		<!--[if lte IE 6]>
		<script type="text/javascript" src="/js/bootstrap-ie6.js"></script>
	<![endif]-->

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q6GY0N687G"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-Q6GY0N687G');
		</script>